.jumbotron{
   background: rgb(200, 54, 54); /* This is for ie8 and below */
   background: rgba(200, 54, 54, 0.5); 
   color:white;
}
.navbar{
position:absolute;
top-margin:0;
}
.login-form{
position:absolute;
margin-top:20%;
margin-left:30%;
margin-right:30%;
width:50%;
height:60%;
}
.homepage-img{	
width:30%;
height:20%;
margin:0 auto;

}
#login-box{
min-width:60%;
position:relative;

}
.homepage-img img{
  width:100%;
  height:100%;
}
.slide1{
  background-image: url("../images/stary-skys.jpg");
  height: 700px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide2{
  background-image: url("../images/universe.jpg");
  height: 700px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide3{
  background-image: url("../images/moon.jpg");
  height: 700px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.carousel-caption h1{
  font-size: 5.4em;
  font-family: 'Pacifico', cursive;
  padding-bottom: .4em;
}
.carousel-caption p{
  font-size: 2em;
}
ul li a, .navbar-brand{
color:white;
}

#small-pic2, #small-pic{
  max-width:50%;
  max-height: 40%;
  
}
#home-body{
  background-image: url("../images/space.jpg");
  width:100%;
  height:100%;
} 
.login-body{
background-image:url("../images/astronaut.jpg");
}
.dissapear{
display:none;

}